<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApIsmokeTestSuite.xml">
  <test name="API Test Cases">
    <classes>
      <class name="com.fitchconnect.api.ApIsmokeTestSuite"/>
         <class name="com.fitchconnect.api.Sprint20"/>
             <class name="com.fitchconnect.api.Sprint21"/>
          <class name="com.fitchconnect.api.Sprint22"/>
        <class name="com.fitchconnect.api.Sprint23"/>
         <class name="com.fitchconnect.api.Sprint24"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->